<footer class="fsl-footer">
    <div class="fsl-footer__inner">
        <h2 class="fsl-footer__title">{{ section.settings.heading |  escape }}</h2>
    </div>
    <style>
       .section-footer-custom{
        background: #000;
    color: #fff;
    height: 70px;
    padding: 20px;
       }
   .fsl-footer__inner{
       margin: 0 auto;
       text-align: center;
       }
       .fsl-footer__title{
       font-size: 26px;
    font-weight: 400;
    font-family: "Playfair Display";
    line-height: 100%;
    letter-spacing: 0;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
       }
    </style>
</footer>

{% schema %}
{
  "name": "FSL Footer",
  "class": "section-footer-custom",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "My beautiful footer"
    }
  ],
  "presets": [{ "name": "FSL Footer" }]
}
{% endschema %}